<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imag/icono.ico') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
    <title>TITO</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='imag/logo gris.jpg') }}" alt="logo" width="150px" height="100px">
            </a>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Buscar..." aria-label="Search">
        </div>
    </nav>

    <!-- Ancla a la parte superior -->
    <a id="top"></a>

    <!-- botones -->
    <div class="botones">
        <div class="cuadro">
            <div class="dropdown">
                <div class="dropdown-title" onclick="toggleDropdown()">Marcas</div>
                <ul class="dropdown-content" id="dropdownContent">
                    <li><a href="{{ url_for('nike') }}">Nike</a></li>
                    <li><a href="{{ url_for('adidas') }}">Adidas</a></li>
                    <li><a href="{{ url_for('pumas') }}">Puma</a></li>
                    <li><a href="{{ url_for('jordan') }}">Jordan</a></li>
                </ul>
            </div>
        </div>
        
        <style>
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #ffffff;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 5px;
            }
        
            .dropdown-content li {
                padding: 8px 16px;
            }
        
            .dropdown-content li a {
                text-decoration: none;
                color: black;
                display: block;
            }
        
            .dropdown-content li:hover {
                background-color: #ddd;
            }
        </style>
        
        <div class="cuadro mas-popular">
            <a href="{{ url_for('populares') }}">Más populares</a>
        </div>
    </div>

        <!--control de trasparencia de un elemento-->
        <h1 style="opacity: 0;">tito</h1>

    <!--Contenedor-->
    
    <div class="contenedor">
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan1.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 4 Retro Thunder en blanco</h3> <p>$5,068</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan2.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 11 Retro DMP Gratitude</h3> <p>$6,199</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan3.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 11 Retro Legend Azul</h3> <p>$5,288</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan4.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 12 Retro Barons</h3> <p>$6,807</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan5.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan Jumpman Jack TR Travis Scott en marrón moca oscuro</h3> <p>$5,917</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan6.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 12 Retro Blueberry</h3> <p>$7,299</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan7.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 4 Retro en dorado metalizado</h3> <p>$6,140</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan8.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 3 Retro en hormigón blanco rediseñados</h3> <p>$4,676</p></div>
        </div>
    </div>
    
        <!--control de trasparencia de un elemento-->
        <h1 style="opacity: 0;">tito</h1>

<!--Contenedor para los tenis 2-->

    <div class="contenedor">
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan9.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 12 Retro Playoffs</h3> <p>$3,253</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan10.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Nike Air Foamposite One Galaxy</h3> <p>$7,010</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan11.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 1 Retro Low OG SP Travis Scott Phantom en negro</h3> <p>$17,486</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan4fear.avif') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 4 Retro Fear</h3> <p>$6,300</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan13.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 6 Retro Olympic </h3> <p>$3,314 </p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan14.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 4 Retro A Ma Maniére en mineral violeta</h3> <p>$5,124</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan15.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 9 Retro Verde oliva</h3> <p>$4,981</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/jordan16.jpg') }}" alt="jordan" width="230px" height="150px">
            <div class="Thunder"> <h3>Jordan 11 Retro Bajo Azul Difuminado</h3> <p>$4,270</p></div>
        </div>
        </div>

            <!--control de trasparencia de un elemento-->
    <h1 style="opacity: 0;">tito</h1>

        <!--contantanos -->

<nav class="pedidos-button">
    <a href="{{ url_for('ayudarte') }}">
        <button class="pedidos-button">Pedidos</button>
    </a>
</nav>

<!--nosotros-->

<section id="acerca" class="about-section">
    <div class="left">
        <p>Redes sociales</p>
        <div class="social-images">
            <img src="{{ url_for('static', filename='imag/logofondoblanco.jpg') }}" alt="logo" width="150px" height="100px">
            <a href="https://www.facebook.com/share/1882fctY1v/" target="_blank">
                <img src="{{ url_for('static', filename='imag/facebook.jpg') }}" alt="Facebook" width="55px" height="40px">
            </a>
            <a href="https://www.instagram.com/tala_wlr/" target="_blank">
                <img src="{{ url_for('static', filename='imag/instagram.jpg') }}" alt="Instagram" width="55px" height="40px">
            </a>
            <a href="https://www.tiktok.com/@manuelrdzcedilo?_t=ZM-8vDa5N42dr4&_r=1" target="_blank">
                <img src="{{ url_for('static', filename='imag/tiktok.jpg') }}" alt="TikTok" width="55px" height="40px">
            </a>
        </div>
    </div>

    <div class="right">
        <p>Colaboradores</p>
        <div class="images">
            <a href="https://yfjea-muebleria.netlify.app/" target="_blank">
                <img src="{{ url_for('static', filename='imag/tiendademuebles.jpg') }}" alt="logo" width="150px" height="100px">
            </a>
            <img src="{{ url_for('static', filename='imag/kasmak.jpg') }}" alt="logo" width="150px" height="100px">
        </div>
    </div>
</section>
    
</body>
</html>