<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imag/icono.ico') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
    <title>TITO</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='imag/logo gris.jpg') }}" alt="logo" width="150px" height="100px">
            </a>
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Buscar..." aria-label="Search">
        </div>
    </nav>

    <!-- Ancla a la parte superior -->
    <a id="top"></a>

  <!-- botones -->
  <div class="botones">
    <div class="cuadro">
        <div class="dropdown">
            <div class="dropdown-title" onclick="toggleDropdown()">Marcas</div>
            <ul class="dropdown-content" id="dropdownContent">
                <li><a href="{{ url_for('nike') }}">Nike</a></li>
                    <li><a href="{{ url_for('adidas') }}">Adidas</a></li>
                    <li><a href="{{ url_for('pumas') }}">Puma</a></li>
                    <li><a href="{{ url_for('jordan') }}">Jordan</a></li>
            </ul>
        </div>
    </div>
    
    <style>
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 5px;
        }
    
        .dropdown-content li {
            padding: 8px 16px;
        }
    
        .dropdown-content li a {
            text-decoration: none;
            color: black;
            display: block;
        }
    
        .dropdown-content li:hover {
            background-color: #ddd;
        }
    </style>
    
    <div class="cuadro mas-popular">
        <a href="{{ url_for('populares') }}">Más populares</a>
    </div>
</div>

    <!--control de trasparencia de un elemento-->
    <h1 style="opacity: 0;">tito</h1>

    <!--contenedor para los tenis-->

    <div class="contenedor">
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas1.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Pelota Puma LaMelo MB.01 Galaxy</h3> <p>$2,419</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas2.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Suede One Piece Red-Haired Shanks</h3> <p>$1,423</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas3.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma LaMelo Ball MB.01 Teenage Mutant Ninja </h3> <p>$3,904</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas4.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Mostro Camuflaje Negro</h3> <p>$2,521</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas5.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Inhala a Spider-Man</h3> <p>$2,216</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas6.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Suede One Piece Blackbeard Teech en negro</h3> <p>$1,748</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas7.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Mostro Camuflaje Verde</h3> <p>$2,623</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas8.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Balón Puma LaMelo MB.04 Iridiscente</h3> <p>$2,643</p></div>
        </div>
    </div>
    
        <!--control de trasparencia de un elemento-->
        <h1 style="opacity: 0;">tito</h1>

<!--Contenedor para los tenis 2-->

    <div class="contenedor">
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas9.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Pelota Puma LaMelo MB.01 Lo UFO</h3> <p>$2,460</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas10.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Stewie 3 Harry Potter House of Stewie</h3> <p>$2,987</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas11.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Juego de calamares Puma Easy Rider</h3> <p>$2,318</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas12.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Balón Puma LaMelo MB.01 Lo Blanco Negro</h3> <p>$2,583</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas13.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Avanti VL Fenty Blanco Cálido</h3> <p>$3,47</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas14.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Inhale OG Rocky Paquete Angustiado</h3> <p>$3,169</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas15.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Speedcat Mid JuunJ Negro</h3> <p>$5,389</p></div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='imag/pumas16.jpg') }}" alt="pumas" width="230px" height="150px">
            <div class="Thunder"> <h3>Puma Suede XL Crush Conservas Negro</h3> <p>$3,693</p></div>
        </div>
        </div>

            <!--control de trasparencia de un elemento-->
    <h1 style="opacity: 0;">tito</h1>

        <!--contantanos -->

<nav class="pedidos-button">
    <a href="{{ url_for('ayudarte') }}">
        <button class="pedidos-button">Pedidos</button>
    </a>
</nav>

<!--nosotros-->

<section id="acerca" class="about-section">
    <div class="left">
        <p>Redes sociales</p>
        <div class="social-images">
            <img src="{{ url_for('static', filename='imag/logofondoblanco.jpg') }}" alt="logo" width="150px" height="100px">
            <a href="https://www.facebook.com/share/1882fctY1v/" target="_blank">
                <img src="{{ url_for('static', filename='imag/facebook.jpg') }}" alt="Facebook" width="55px" height="40px">
            </a>
            <a href="https://www.instagram.com/tala_wlr/" target="_blank">
                <img src="{{ url_for('static', filename='imag/instagram.jpg') }}" alt="Instagram" width="55px" height="40px">
            </a>
            <a href="https://www.tiktok.com/@manuelrdzcedilo?_t=ZM-8vDa5N42dr4&_r=1" target="_blank">
                <img src="{{ url_for('static', filename='imag/tiktok.jpg') }}" alt="TikTok" width="55px" height="40px">
            </a>
        </div>
    </div>

    <div class="right">
        <p>Colaboradores</p>
        <div class="images">
            <a href="https://yfjea-muebleria.netlify.app/" target="_blank">
                <img src="{{ url_for('static', filename='imag/tiendademuebles.jpg') }}" alt="logo" width="150px" height="100px">
            </a>
            <img src="{{ url_for('static', filename='imag/kasmak.jpg') }}" alt="logo" width="150px" height="100px">
        </div>
    </div>
</section>
    
</body>
</html>